In [32]:
import pandas as pd

In [33]:
# Load the data
# They'll be familiar with this
file1 = 'data1.csv'
data = pd.read_csv(file1)
data

,Cards,high card,pair,two pair,three of a kind,straight,flush,full house,four of a kind,straight flush
0,As Ad Ks Kh,0,0,18711,2860,99,259,2931,139,1
1,Ah Ks Kh 8c,0,11011,10170,2512,86,221,924,72,4
2,As Jc 0d 8c,5862,11358,3910,707,2763,259,127,12,2
3,8s 8c 6s 2c,0,10301,10345,2353,355,446,1126,69,5
4,Kc 7c 4c 2c,3108,6655,2771,526,115,11712,108,3,2
...,...,...,...,...,...,...,...,...,...,...
193,Kc 0c 9h 4c,5915,10850,3759,653,1009,2685,116,8,5
194,9d 8s 8c 7c,0,8759,9812,2243,2795,246,1068,73,4
195,As Ah Ks Kh,0,0,18413,2862,86,449,3043,147,0
196,As Ks Qs 0h,4337,8805,3224,639,5214,2606,101,3,71
197,As Ks Qs 0s,2277,5117,2453,467,2869,10129,122,9,1557

In [34]:
# Find the cases that match certain cards in a hand and return the corresponding rows
# They should be familiar with everything here except for the `.str.contains()` pattern
# All that does is converts the entry to a string if it's not already, then searches
# for a substring and returns True if it is found
def find_matches(df,card_list):
    matches = pd.Series(True, index=df.index)
    for card in card_list:
        matches = matches & df['Cards'].str.contains(card)
    return matches
    
card_list = ['Ah','Ks','Kh']
matches = find_matches(data,card_list)
data[matches]

,Cards,high card,pair,two pair,three of a kind,straight,flush,full house,four of a kind,straight flush
1,Ah Ks Kh 8c,0,11011,10170,2512,86,221,924,72,4
35,Ah Ks Kh 2d,0,10673,10396,2468,179,235,970,79,0
53,Ah Ks Kh 9h,0,9327,9576,2348,71,2658,952,67,1
85,Ah Ks Kh 7d,0,10984,10152,2497,92,221,982,70,2
89,Ah Ks Kh 5d,0,10808,10332,2390,178,223,978,89,2
93,Ah Ks Kh 7s,0,10702,10255,2507,88,422,950,75,1
97,Ah Ks Kh Qh,0,8648,9495,2285,871,2598,954,69,80
100,Ah Ks Kh 6c,0,10671,10527,2466,79,242,940,71,4
111,Ah Ks Kh 6s,0,10801,10164,2435,95,479,949,77,0
184,Ah Ks Kh Jd,0,10137,10272,2365,961,244,959,62,0
195,As Ah Ks Kh,0,0,18413,2862,86,449,3043,147,0

In [35]:
# Sum along a particular column
# They will be familiar with this
data['pair'].sum()

1938026

In [36]:
# Sum along all columns
# Sum is familiar to them, but the `numeric_only` keyword is new (avoids concatenating strings as a "sum")
total = data.sum(axis=0, numeric_only=True)
total

high card           618168
pair               1938026
two pair           1240838
three of a kind     301109
straight            318490
flush               398327
full house          111576
four of a kind        9683
straight flush       13783
dtype: int64

In [37]:
# Get percentages
percentages = total / total.sum() * 100
percentages

high card          12.488242
pair               39.152040
two pair           25.067434
three of a kind     6.083010
straight            6.434141
flush               8.047010
full house          2.254061
four of a kind      0.195616
straight flush      0.278444
dtype: float64